.body{
     background-image: url(Untitled-1.jpg);
}
  .des{
   
      width: 174px;
  margin: 30px auto ;
  border-radius:  8px ;
  padding: 25px ;
 
   
}
 .mar{
  font-size: 16px;
  font-family: cursive;

 }

 h7{
  font-family: cursive;
  color: #9a031e;
  font-size: 13px;
 }
 #results{
  font-family: cursive;
  font-size: 12px;
  color: #9a031e;
 }

header{
  padding: 15px;
  display: table-cell;
  background-color: #0d654f;
  border-radius: 10px;
  color:#f7f6f1;
  font-size:22px;
  width: 18%;
  text-align: center;
    font-family: system-ui;
}
label{
  color: #9a031e ;
  font-family: system-ui;

}
input{
  background-image: url(Untitled-1.jpg);
  border-radius: 5px;
   color: #9a031e;

}


fieldset{
   width: max-content;
   background-image: url(Untitled-1.jpg);
  border-radius: 8px;
  margin: auto;
  border: 3px solid #066d54;
  text-align: left;
  font-size: 20px;
  font-family: lato,sans-serif;
}
 
 table {
    background-image: url(Untitled-1.jpg);
  font-family: lato,sans-serif;;
  border-collapse: collapse;
   color:  #9a031e;
  width: 100%;
  font-size: 14px;
}

td, th {
  border: 1px solid #9a031e6b;
  text-align: left;
  padding: 8px;
}
